In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/hypatiagarcia/retail-sales-analysis/refs/heads/main/data/retail_sales_dataset.csv')

df.head(10)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100
5,6,2023-04-25,CUST006,Female,45,Beauty,1,30,30
6,7,2023-03-13,CUST007,Male,46,Clothing,2,25,50
7,8,2023-02-22,CUST008,Male,30,Electronics,4,25,100
8,9,2023-12-13,CUST009,Male,63,Electronics,2,300,600
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200

Exploración Inicial de los Datos

In [ ]:
#Muestra las últimas 5 filas del DataFrame.
df.tail(5)

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
995,996,2023-05-16,CUST996,Male,62,Clothing,1,50,50
996,997,2023-11-17,CUST997,Male,52,Beauty,3,30,90
997,998,2023-10-29,CUST998,Female,23,Beauty,4,25,100
998,999,2023-12-05,CUST999,Female,36,Electronics,3,50,150
999,1000,2023-04-12,CUST1000,Male,47,Electronics,4,30,120

In [ ]:
#Utiliza el método info() para obtener información general sobre el DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [ ]:
#Genera estadísticas descriptivas del DataFrame utilizando el método describe().
df.describe()

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

Inspección de los Datos

In [ ]:
#Inspecciona los tipos de datos de cada columna utilizando el atributo dtypes.
df.dtypes

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

In [ ]:
#Cuenta los valores únicos en la columna Producto utilizando el método value_counts().
df.value_counts("Product Category")

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

In [ ]:
#Muestra todos los valores únicos en la columna Tienda utilizando el método unique().
#NO EXISTE COLUMNA TIENDA
df["Gender"].unique()

array(['Male', 'Female'], dtype=object)

Filtrado de Datos

In [ ]:
#Filtra el DataFrame para mostrar solo las filas donde las ventas (Ventas) sean mayores a 50.
print(df[df["Quantity"] > 50])

Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []

In [ ]:
#Filtra el DataFrame para mostrar solo las filas donde el precio (Precio) sea menor a 0.5.
print(df[df["Price per Unit"] < 0.5])

Empty DataFrame
Columns: [Transaction ID, Date, Customer ID, Gender, Age, Product Category, Quantity, Price per Unit, Total Amount]
Index: []

In [ ]:
#Utilizando el método query(), filtra el DataFrame para mostrar las filas donde el producto sea Manzanas y las ventas sean mayores a 30
#EL EJERCICIO FUE MODIFICADO PORQUE NO EXISTE MANZANA Y TAMPOCO EXISTEN COMPRAS MAYORES A 30 ITEMS
df.query('`Product Category` == "Clothing" and `Quantity` > 3')

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
9,10,2023-10-07,CUST010,Female,52,Clothing,4,50,200
13,14,2023-01-17,CUST014,Male,64,Clothing,4,30,120
16,17,2023-04-22,CUST017,Female,27,Clothing,4,25,100
22,23,2023-04-12,CUST023,Female,35,Clothing,4,30,120
38,39,2023-04-21,CUST039,Male,23,Clothing,4,30,120
...,...,...,...,...,...,...,...,...,...
929,930,2023-05-10,CUST930,Male,54,Clothing,4,50,200
937,938,2023-11-19,CUST938,Male,49,Clothing,4,50,200
942,943,2023-10-16,CUST943,Female,57,Clothing,4,300,1200
964,965,2023-11-09,CUST965,Male,22,Clothing,4,50,200
974,975,2023-03-30,CUST975,Female,56,Clothing,4,50,200

Slicing de Datos

In [ ]:
#Selecciona y muestra solo las columnas Producto y Ventas del DataFrame.
print(df[["Product Category", "Total Amount"]])

    Product Category  Total Amount
0             Beauty           150
1           Clothing          1000
2        Electronics            30
3           Clothing           500
4             Beauty           100
..               ...           ...
995         Clothing            50
996           Beauty            90
997           Beauty           100
998      Electronics           150
999      Electronics           120

[1000 rows x 2 columns]

In [ ]:
#Utilizando loc[], selecciona y muestra las filas de la 5 a la 10 (inclusive) y las columnas Producto y Tienda.
#NO EXISTE COLUMNA TIENDA
print(df.loc[4:9, ["Product Category", "Price per Unit"]])

  Product Category  Price per Unit
4           Beauty              50
5           Beauty              30
6         Clothing              25
7      Electronics              25
8      Electronics             300
9         Clothing              50

In [ ]:
#Utilizando iloc[], selecciona y muestra las primeras 5 filas y las primeras 3 columnas del DataFrame.
print(df.iloc[:6 , :3])

   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005
5               6  2023-04-25     CUST006